@media (max-width: 575px) {
  .atom-section--hideOnMobile {
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 991px) {
  .atom-section--hideOnTablet {
    display: none;
  }
}
@media (min-width: 992px) {
  .atom-section--hideOnDesktop {
    display: none;
  }
}

.neos-backend {
  @media (max-width: 575px) {
    .atom-section--hideOnMobile {
      display: block !important;
      opacity: 0.5;
    }
  }
  @media (min-width: 576px) and (max-width: 991px) {
    .atom-section--hideOnTablet {
      display: block !important;
      opacity: 0.5;
    }
  }
  @media (min-width: 992px) {
    .atom-section--hideOnDesktop {
      display: block !important;
      opacity: 0.5;
    }
  }
}
