.atom-section {
    padding: 30px 0;
    min-height: 40px;
    position: relative;
    z-index: 2;
}

.atom-section.smallSectionOffset {
    margin-top: -105px;
}

.atom-section.mediumSectionOffset {
    margin-top: -200px;
}

.atom-section.largeSectionOffset {
    margin-top: -300px;
}

.neos-backend .placeholder {
    min-height: auto;
}
