.atom-column {
    margin-bottom: 20px;
}

@each $colorClass, $colorVar in $colors {
    .atom-column.bg-color-#{$colorClass} {
        background-color: $colorVar;
    }
}

.atom-column.a-c__background-image {
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width: 540px) {
    .atom-column {
        margin-bottom: 0;
    }
}
